In [28]:
import pandas as pd
import numpy as np
import datetime

In [29]:
def change_date(x):
    ### Получаем дату из формата [date time]
    date = x.split(' ')[0]
    return date

def change_date_T(x):
    ### Получаем дату из формата [dateTtime]
    date = x.split('T')[0]
    return date

def to_str(x):
    return str(x)

def to_datetime(x):
    return datetime.datetime.strptime(x, '%Y-%m-%d')

In [30]:
voltage = pd.read_excel('../files/cellsense/mean_voltage_on_series.xlsx')
anodes_in_series = pd.read_excel('../files/anodes_in_series.xlsx')

display(voltage)
display(anodes_in_series)

,date,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,2019-03-07,0.021975,0.256711,0.263145,0.255715,0.250200,0.320991,0.276438,0.088899,0.257162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-03-11,0.099256,0.284611,0.404874,0.278247,0.394208,0.288346,0.174010,0.444643,0.323724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-03-12,0.213696,0.400107,0.472673,0.329794,0.457648,0.329494,0.375896,0.503678,0.475576,...,0.314140,0.462152,0.321452,0.319557,0.282380,0.220075,0.296584,0.316069,0.274357,0.405041
3,2019-03-13,0.070800,0.404713,0.480916,0.413217,0.474332,0.322597,0.378800,0.532912,0.477338,...,0.355607,0.044480,0.367332,0.365085,0.328863,0.424965,0.440499,0.456324,0.311700,0.475670
4,2019-03-18,0.304910,0.300881,0.318239,0.382453,0.315720,0.368690,0.430535,0.438577,0.228969,...,0.449410,0.357371,0.452843,0.442819,0.417317,0.302231,0.252051,0.486500,0.361043,0.319504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,2019-12-27,0.319286,0.458095,0.472518,0.461336,0.331009,0.307674,0.469925,0.249909,0.328395,...,0.118209,0.362004,0.448254,0.311499,0.370029,0.363390,0.322205,0.325180,0.336654,0.284804
289,2019-12-28,0.299705,0.473745,0.220901,0.472219,0.327864,0.432648,0.491846,0.380264,0.325719,...,0.276403,0.404864,0.403618,0.305119,0.363928,0.334069,0.312671,0.316373,0.424916,0.350771
290,2019-12-29,0.398973,0.488005,0.336050,0.488010,0.262773,0.462338,0.374530,0.383884,0.325822,...,0.316656,0.397632,0.273157,0.305695,0.332493,0.396359,0.313109,0.314915,0.422897,0.369689
291,2019-12-30,0.389687,0.493133,0.322872,0.488333,0.385967,0.462816,0.156542,0.368857,0.297893,...,0.320967,0.401348,0.312782,0.302641,0.404360,0.383216,0.281405,0.310012,0.423607,0.363342
292,2019-12-31,0.385272,0.290020,0.325900,0.502929,0.386874,0.469597,0.334661,0.371401,0.387735,...,0.325968,0.408677,0.320127,0.309750,0.436125,0.401060,0.345388,0.314002,0.440693,0.369650

,num_part,num_circ,num_ser,date_postup,date_status,sves,kol,ves_part,kol_part,ves_ed,...,Cu+Ag,Cu,As,Ni,Sb,O2,Au,Fe,unit,Massa
0,30003,1,2,2019-01-04 00:00:00.000,2019-01-04 22:00:00.000,64.556,165,691715,1769,391,...,99.42,99.36,0.064,0.074,0.10,0.08,22.9,0.0013,A3,159.074
1,30003,3,19,2019-01-03 00:00:00.000,2019-01-03 10:30:00.000,44.994,115,691715,1769,391,...,99.42,99.36,0.064,0.074,0.10,0.08,22.9,0.0013,A3,159.074
2,30003,4,27,2019-01-02 00:00:00.000,2019-01-02 10:30:00.000,237.488,607,691715,1769,391,...,99.42,99.36,0.064,0.074,0.10,0.08,22.9,0.0013,A3,159.074
3,30004,1,2,2019-01-04 00:00:00.000,2019-01-04 22:00:00.000,96.518,247,703385,1798,391,...,99.41,99.35,0.043,0.051,0.09,0.09,23.9,0.0020,A5,209.066
4,30004,1,7,2019-01-05 00:00:00.000,2019-01-04 10:00:00.000,16.410,42,703385,1798,391,...,99.41,99.35,0.043,0.051,0.09,0.09,23.9,0.0020,A5,209.066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3862,31371,4,29,2019-01-18 00:00:00.000,2019-01-16 22:00:00.000,31.246,80,347800,890,391,...,99.42,99.33,0.106,0.071,0.11,0.14,39.2,0.0022,A1,181.194
3863,31378,4,26,2019-12-30 00:00:00.000,2019-12-27 01:00:00.000,21.929,56,342690,875,392,...,99.44,99.31,0.133,0.100,0.11,0.08,48.9,0.0016,A3,168.122
3864,31378,4,30,2019-12-25 00:00:00.000,2019-12-26 03:30:00.000,320.761,819,342690,875,392,...,99.44,99.31,0.133,0.100,0.11,0.08,48.9,0.0016,A3,168.122
3865,31379,4,25,2019-01-01 00:00:00.000,2019-01-01 14:30:00.000,100.474,257,349900,895,391,...,99.45,99.36,0.099,0.078,0.10,0.12,37.4,0.0027,A1,154.304
3866,31379,4,27,2019-01-02 00:00:00.000,2019-01-02 10:30:00.000,249.035,637,349900,895,391,...,99.45,99.36,0.099,0.078,0.10,0.12,37.4,0.0027,A1,154.304

In [31]:
def start(voltage):
    ### Формируем датафрейм: дата - номер_серии - среднее_напряжение - хим.состав анодов (средневзвешенный)
    columns = ['date','num_series','voltage','anodes_mass','Pb','Zn','Ag','Sn','Cu+Ag','Cu','As','Ni','Sb','O2','Au','Fe']
    res = pd.DataFrame(columns = columns)

    voltage['date'] = voltage['date'].apply(to_str)
    voltage['date'] = voltage['date'].apply(change_date)
    anodes_in_series['date_postup'] = anodes_in_series['date_postup'].apply(change_date)
    anodes_in_series['date_postup'] = anodes_in_series['date_postup'].apply(to_datetime)

    voltage_date = voltage['date'].values

    for date in voltage_date:
        item = create_item(voltage[voltage['date'] == date], date, columns)
        res = pd.concat([res, item])

    return res

In [32]:
def create_item(voltage_item, date, columns):
    ### Создаем запись для каждой даты
    series = voltage_item.columns[1:]
    # mean_voltage_on_series = voltage_item.melt(value_vars=voltage_item.columns[1:])
    res = pd.DataFrame(columns = columns)

    for num in range(1,33):
        anodes_data = {
            'date': date,
            'num_series': num,
            'voltage': voltage_item.iloc[:,num].values[0]
        }
        anodes_data.update(calculate_chemical_analysis(get_anodes_in_series(num, date))) 
        temp = pd.DataFrame(anodes_data, index=[0])
        res = pd.concat([res, temp])

    # display(res)
    return res

In [33]:
def get_anodes_in_series(num_series, date):
    ### Поиск всех записей по анодам, которые находились в серии
    days = 19
    date_start, date_end = create_date(date, days)
    res = anodes_in_series[(anodes_in_series['date_postup'] >= date_start) & (anodes_in_series['date_postup'] < date_end) & (anodes_in_series['num_ser'] == num_series)]
    return res

In [34]:
def create_date(date, days):
    ### Формирование даты начала и конца периода нахождения анодов в серии
    date_end = datetime.datetime.strptime(date, '%Y-%m-%d')
    date_start = date_end - datetime.timedelta(days=days)
    date_start = date_start.strftime('%Y-%m-%d')
    return date_start, date_end

In [35]:
def calculate_chemical_analysis(anodes):
    ### Рассчет средневзвешенного хим.состава анодов
    anodes['fraction'] = anodes['sves'] / anodes['sves'].sum()
    anodes_data = {
        'anodes_mass': np.sum(anodes['sves'])
    }
    
    for element in anodes.columns[12:24]:
        anodes_data[element] = np.sum(anodes[element] * anodes['fraction'])

    return anodes_data

In [36]:
result = start(voltage)
display(result)
# result.to_excel('anodes_voltage_result(20 days).xlsx')

,date,num_series,voltage,anodes_mass,Pb,Zn,Ag,Sn,Cu+Ag,Cu,As,Ni,Sb,O2,Au,Fe
0,2019-03-07,1,0.021975,668.129,0.078237,0.006195,597.899717,0.005372,99.453456,99.392004,0.079465,0.092698,0.103832,0.094176,29.052677,0.001805
0,2019-03-07,2,0.256711,695.254,0.084094,0.006564,686.907890,0.008011,99.470963,99.403121,0.079677,0.089254,0.105505,0.059492,27.079064,0.001711
0,2019-03-07,3,0.263145,689.957,0.083585,0.006147,608.222760,0.009822,99.451953,99.391039,0.086819,0.093346,0.110278,0.078212,24.777527,0.001811
0,2019-03-07,4,0.255715,632.864,0.075930,0.005876,620.315349,0.007590,99.465804,99.403858,0.086110,0.103306,0.113761,0.071153,25.317537,0.001901
0,2019-03-07,5,0.250200,689.613,0.085635,0.005823,614.234740,0.008007,99.466699,99.407497,0.090424,0.097249,0.108833,0.066362,25.705758,0.002304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2019-12-31,28,0.401060,644.964,0.109662,0.007686,872.441028,0.004734,99.404229,99.318548,0.109712,0.096178,0.110560,0.085561,38.448844,0.001951
0,2019-12-31,29,0.345388,690.983,0.101256,0.009931,869.378532,0.007556,99.438051,99.348057,0.115243,0.082694,0.111048,0.131836,39.805139,0.001911
0,2019-12-31,30,0.314002,795.103,0.097926,0.008336,1020.515489,0.006987,99.444328,99.342269,0.116133,0.096473,0.106800,0.084923,43.951666,0.001697
0,2019-12-31,31,0.440693,691.416,0.078140,0.005699,800.902499,0.006032,99.453957,99.373760,0.088405,0.094646,0.107666,0.107455,32.982391,0.001753
0,2019-12-31,32,0.369650,691.164,0.114067,0.010036,849.895650,0.006219,99.408962,99.324912,0.111732,0.114343,0.111129,0.100337,36.198471,0.001758